body {
	text-align: center;
	background: #999;
	font-family: helvetica;
	background-image: url("pictures/NatGeo16.jpg")
}
div{
}

.info {

<<<<<<< HEAD
	background: pink;
=======
	background: #777;
>>>>>>> e6c03929bed7fb74a9cbc2ab9c5a6ba1c726f9b7
	width:600px;
	display: inline-block;
	margin: auto;
	padding: 50px;
	box-shadow: 5px 5px 5px #555;
}
.h {
	background: green;
	width:600px;
	margin: 50px auto;
	display: inline-block;
	padding: 50px;
	box-shadow: 5px 5px 5px #555;
}
.inner {

<<<<<<< HEAD
	background: red;
=======
	background: #ccc;
>>>>>>> e6c03929bed7fb74a9cbc2ab9c5a6ba1c726f9b7
	height: 100px;
	position: relative;
	padding: 50px;



}
.picture {

	display: inline-block;
	width: 700px;
	height: 300px;
	margin: 50px;
	overflow: scroll;
	box-shadow: 5px 5px 5px #555;

}
