body {
	text-align: center;
	background: #999;
	font-family: helvetica;
	background-image: url("pictures/NatGeo16.jpg")
}
div{
}

.info {
	
	background: #777;
	width:600px;
	display: inline-block;
	margin: auto;
	padding: 50px;
	box-shadow: 5px 5px 5px #555;
}
.h {
	background: #777;
	width:600px;
	margin: 50px auto;
	display: inline-block;
	padding: 50px;
	box-shadow: 5px 5px 5px #555;
}
.inner {
	
	background: red;
	height: 100px;
	position: relative;
	padding: 50px;
	


}
.picture {
	
	display: inline-block;
	width: 700px;
	height: 300px;
	margin: 50px;
	overflow: scroll;
	box-shadow: 5px 5px 5px #555;

}